<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="example">


  <link name="lidar"/>

  <!-- <xacro:include filename="$(find livox_laser_simulation)/models/mid360.xacro" /> -->

  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  <xacro:VLP-16 parent="lidar" name="velodyne" topic="/velodyne_points" hz="5" samples="350" min_range="0.01" organize_cloud="true">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:VLP-16>


 <gazebo reference="velodyne">
    <sensor type="ray" name="laser_livox">
        <pose>0 0 0.5 3.14 0 0</pose>
        <visualize>False</visualize>
        <always_on>True</always_on>
        <update_rate>10</update_rate>
        <!-- This ray plgin is only for visualization. -->
        <plugin name="gazebo_ros_laser_controller" filename="liblivox_laser_simulation.so">
			  <ray>
			  <scan>
				  <horizontal>
				    <samples>100</samples>
				    <resolution>1</resolution>
				    <min_angle>-3.1415926535897931</min_angle>
            <max_angle>3.1415926535897931</max_angle>
				  </horizontal>
				  <vertical>
				    <samples>50</samples>
				    <resolution>1</resolution>
				    <min_angle>-1.5708</min_angle>
            <max_angle>1.5708</max_angle>
				  </vertical>
			  </scan>
			  <range>
				  <min>0.1</min>
				  <max>40</max>
				  <resolution>1</resolution>
			  </range>
			  <noise>
				  <type>gaussian</type>
				  <mean>0.0</mean>
				  <stddev>0.0</stddev>
			  </noise>
			  </ray>
          <visualize>True</visualize>
		      <samples>20000</samples>
		      <downsample>1</downsample>
		      <csv_file_name>mid360-real-centr.csv</csv_file_name>
          <publish_pointcloud_type>2</publish_pointcloud_type>
		      <ros_topic>/livox/lidar</ros_topic>
          <frameName>lidar</frameName>
        </plugin>
      </sensor>
  </gazebo>


</robot>
